*{
    margin: 0;
    padding: 0;
}

header {
    background-color: #408af8;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1365px;
    height: 250px;
}

.cabecalho-imagem{
    width: 300px;
}
