*{
    margin: 0;
    padding: 0;
}

header {
    background-color: #5b9cfd;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1920px;
    height: 200px;
}

.cabecalho-imagem{
    width: 300px;
}

.cabecalho-lista-item{

    margin: 0 16px;
    font-size: 24px;
    display: inline-block;
    font-family: Arial;
}

.Sobre-a-lanchonete{
    background-image: linear-gradient(#5b9cfd,#02667c);;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.lanchonete-imagem{
    width: 25%;
}

.lanche-div-conteudo{
    width: 35%;
}

.titulo-lanchonete{
    padding: 30px 0;
}

.pastelaria-texto-1{
    font-size: 25px;
}

.pastelaria-texto-2{
    font-size: 20px;
    padding: 24px 0;
}