*{
    margin: 0;
    padding: 0;
}

header {
    background-color: #5b9cfd;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1920px;
    height: 200px;
}

.cabecalho-imagem{
    width: 300px;
}

.cabecalho-lista-item{

    margin: 0 16px;
    font-size: 24px;
    display: inline-block;
}

.Sobre-a-lanchonete{
    background-image: linear-gradient(#5b9cfd,#0ccdf8);;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}